<a href="https://colab.research.google.com/github/akifnu/cyclistic/blob/main/codes/python/Data_Cleaner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
clean_data=pd.read_csv(r"/content/drive/MyDrive/DA_portfolio/Divvy_Trips_clean.csv",index_col=0)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
clean_data

                 ride_id           started_at  ... end_station_id member_casual
0               22178529  2019-04-01 00:02:22  ...           56.0        member
1               22178530  2019-04-01 00:03:02  ...           59.0        member
2               22178531  2019-04-01 00:11:07  ...          174.0        member
3               22178532  2019-04-01 00:13:01  ...          133.0        member
4               22178533  2019-04-01 00:19:26  ...          129.0        member
...                  ...                  ...  ...            ...           ...
426882  ADDAA33CEBCAE733  2020-03-10 10:40:06  ...          675.0        casual
426883  82B10FA3994BC66A  2020-03-07 15:25:55  ...          240.0        member
426884  AA0D5AAA0B59C8AA  2020-03-01 13:12:38  ...          210.0        casual
426885  3296360A7BC20FB8  2020-03-07 18:02:45  ...          264.0        member
426886  064EC7698E4FF9B3  2020-03-08 13:03:57  ...           85.0        casual

[4816486 rows x 8 columns]

In [ ]:
clean_data["started_at"]= pd.to_datetime(clean_data["started_at"])
clean_data["ended_at"]= pd.to_datetime(clean_data["ended_at"])

In [ ]:
clean_data["tripduration"]=clean_data["ended_at"]-clean_data["started_at"]

In [ ]:
clean_data["tripduration"]=clean_data["tripduration"].values.astype('datetime64[ns]')

In [ ]:
clean_data["tripduration"]=pd.to_datetime(clean_data["tripduration"],format='%H:%M:%S').dt.time

In [ ]:
clean_data

                 ride_id          started_at  ... member_casual tripduration
0               22178529 2019-04-01 00:02:22  ...        member     00:07:26
1               22178530 2019-04-01 00:03:02  ...        member     00:17:28
2               22178531 2019-04-01 00:11:07  ...        member     00:04:12
3               22178532 2019-04-01 00:13:01  ...        member     00:05:57
4               22178533 2019-04-01 00:19:26  ...        member     00:16:47
...                  ...                 ...  ...           ...          ...
426882  ADDAA33CEBCAE733 2020-03-10 10:40:06  ...        casual     00:00:01
426883  82B10FA3994BC66A 2020-03-07 15:25:55  ...        member     00:48:08
426884  AA0D5AAA0B59C8AA 2020-03-01 13:12:38  ...        casual     00:25:51
426885  3296360A7BC20FB8 2020-03-07 18:02:45  ...        member     00:10:33
426886  064EC7698E4FF9B3 2020-03-08 13:03:57  ...        casual     00:28:30

[3879822 rows x 9 columns]

Add new columns

In [ ]:
clean_data['year'] = pd.DatetimeIndex(clean_data['started_at']).year

In [ ]:
clean_data['month'] = pd.DatetimeIndex(clean_data['started_at']).month

In [ ]:
clean_data['day'] = pd.DatetimeIndex(clean_data['started_at']).day

In [ ]:
clean_data['day of the week'] = pd.DatetimeIndex(clean_data['started_at']).dayofweek

In [ ]:
clean_data['date']=clean_data['started_at'].dt.date

convert the data to seconds and then to numeric

In [ ]:
clean_data['tripduration_sec']=(clean_data['ended_at']-clean_data['started_at']).dt.seconds

In [ ]:
clean_data['tripduration_sec']=pd.to_numeric(clean_data['tripduration_sec'])

In [ ]:
clean_data

                 ride_id          started_at  ...        date tripduration_sec
0               22178529 2019-04-01 00:02:22  ...  2019-04-01              446
1               22178530 2019-04-01 00:03:02  ...  2019-04-01             1048
2               22178531 2019-04-01 00:11:07  ...  2019-04-01              252
3               22178532 2019-04-01 00:13:01  ...  2019-04-01              357
4               22178533 2019-04-01 00:19:26  ...  2019-04-01             1007
...                  ...                 ...  ...         ...              ...
426882  ADDAA33CEBCAE733 2020-03-10 10:40:06  ...  2020-03-10                1
426883  82B10FA3994BC66A 2020-03-07 15:25:55  ...  2020-03-07             2888
426884  AA0D5AAA0B59C8AA 2020-03-01 13:12:38  ...  2020-03-01             1551
426885  3296360A7BC20FB8 2020-03-07 18:02:45  ...  2020-03-07              633
426886  064EC7698E4FF9B3 2020-03-08 13:03:57  ...  2020-03-08             1710

[3879822 rows x 15 columns]

Export

In [ ]:
clean_data.to_csv(r"/content/drive/MyDrive/DA_portfolio/Divvy_Trips_cleaner.csv")